<header class="header">
   <div class="mid-content">
		<div class="logo"><a href="index.html">Site Logo</a></div>
		<navbar class="navbar">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="privacy.html">Privacy Policy</a></li>
			</ul>
		</navbar>
    </div>
</header>